@media (max-device-width: 425px) {
    
    html, #main_container {
        min-width: 100%;
        margin: 0;
    }

     header {
         flex-direction: column;
         width: 100%;
     }

     nav {
         width: 100%;
     }

     #search {
         flex-direction: column;
     }
    
     .container {
         flex-direction: column-reverse;
         width: 100%;
     }


     #hébergements, #hébergements .item, #populaires, #populaires .item {
         width: 100%;
     }

     #hébergements, #populaires {
         border-radius: 0;
         margin: 0;
     }

     #hébergements {
         background-color: white;
     }

     #activities, #activities_container {
         width: 100%;
        }

      #activities_container{
         display: flex;
         flex-direction: column;
         margin:0;
         padding:0;
     }

     #activities_container .item {
         width: 100%;
     }

     

     footer {
         width: 100%;
         flex-direction: column;
     }

     footer ul {
         width: 100%;
        }
}

@media (min-device-width: 375px) AND (max-device-width: 1024px) {
     
}