@media screen and (max-width: 425px) {

    html, body {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    

    header{
    }

    .logo_container {
    }

    .links_container {
        flex-wrap: wrap;
    }

    nav {
        order: 3;
        position: absolute;
        left: 1rem;
        top: 50px;
    }

    nav a {
        padding: 1rem;
        border-top: none;
        border-bottom: 2px solid var(--gray);
    }

    .register {
    }

    #search {
        max-width: 100%;
        margin-top: 2rem;
        padding-bottom: 1rem;
    }

    form {
        width: 100%;
    }

    .filters {
        flex-direction: column;
    }

    .filters_container {
        flex-wrap: wrap;
    }

    .container {
        width: 100%;
        flex-direction: column-reverse;
        padding-left: 0;
    }

    #hébergements {
        width: 100%;
        margin-right: 0;
    }

    #hébergements .items_container {
        flex-direction: column;
        padding: 1rem;
    }

    #hébergements .items_container .item {
        width: 100%;
    }

    #populaires {
        width: 100%;
        border-radius: 0;
        padding: 1rem;
        margin-right: 0;
    }

    #populaires .item {
        width: 100%;
    }

    #activities_container {
        width: 100%;
        flex-direction: column;
        padding: 1rem;
    }

    #activities .activity {
        width:100%;
        margin: 0;
        margin-bottom: 1rem;
    }

    footer {
        flex-direction: column;
    }
}