@media screen and (max-width: 425px) {


    html, body,header, #search, .container, footer{
        max-width: 425px;
    }
    
    header {
        flex-direction: column;
    }

    .logo_container {
        padding: 1rem 0 0 1rem;
    }

    .links_container {
        flex-wrap: wrap;
        width:100%;
    }

    nav {
        width:100%;
        order: 3;
        display: flex;
        flex-direction: row;
    }

    nav a {
        width: 50%;
        padding-top: 1rem;
        margin-right: 0;
        border-top: none;
        border-bottom: 2px solid var(--gray);
        text-align: center;
    }

    .register {
        position: absolute;
        top: -1.2rem;
        right: 0;
    }

    #search {
        width: auto;
        margin-top: 1rem;
        padding: 1rem;
    }

    form {
       /* max-width: 425px;*/
        padding: 0;
        margin-bottom: 1rem;
    }

    form input[type=search] {
        width: auto;
        flex: 2 2 0;
    }

    form button {
        width: auto;
        border-radius: 0.75rem;
        background-color: transparent;
        margin: 0;
        padding: 0;
    }

    form button span {
        display: none;
    }

    form button i {
        display: inline-block!important;
        border-radius: 1rem;
        background-color: var(--blue);
        color: white;
        padding:1.1rem;
        margin-left: -1rem;
    }

    .filters {
        flex-direction: column;
    }

    .filters h2 {
        padding-bottom: 1rem;
        align-self: inherit;
    }

    .filters_container {
        flex-wrap: wrap;
    }

    .filters_container div {
        margin-bottom: 1rem;
    }

    .container {
        padding: 0;
        width: auto;
        flex-direction: column-reverse;
    }

    #hébergements {
        width:auto;
        margin: 0;
        padding: 1rem;
        background-color: white;
    }

    #hébergements .items_container {
        flex-direction: column;
    }

    #hébergements .item {
        width: auto;
    }


    #populaires {
        width: auto;
        padding:1rem;
        margin-right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        border-radius: 0;
    }

    #populaires header {
        flex-direction: row;

    }

    #populaires .item  {
        width:auto;
    }

    #populaires .item img {
        margin:0;
        margin-right: 1rem;
    }

    #activities {
        padding: 1rem;
    }

    #activities_container {
        flex-direction: column;
    }

    #activities .activity {
        margin: 0;
        margin-bottom: 1rem;
    }

    #activities .activity img{
        height: 10rem;
    }

    footer {
        flex-direction: column;
        width: auto;
        padding: 1rem;
    }

    footer ul {
        width: 100%;
}

}