:root {
    --blue: #0065FC;
    --lightblue: #DEEBFF;
    --gray: #F2F2F2;
}

* { margin:0; padding: 0;}

/* IMPORT AND SET FONT */

@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-VariableFont_wght.ttf") format("truetype");
   }

body {
    font-family: Raleway;
}

/* GLOBAL PADDING */

#search, .container, #activities, footer {
    padding: 0 2rem;
}


/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_container {
    padding: 2rem 0 0 2rem;
}

.links_container {
    display: flex;
    flex-direction: row;
}
/* NAV */


nav a {
    height: 50px;
    display: inline-block;
    margin-right: 1rem;
    padding-top: 2rem;
    line-height: 50px;
    text-decoration: none;
    border-top: 2px solid transparent;
}



nav a:hover, nav a:focus {
    color: var(--blue);
    border-color: var(--blue);
}


.register {
    height: 50px;
    margin-right:1rem;
    padding: 2rem 2rem 0 0;
}

.register a {
    color: var(--blue);
    font-weight: bold;
    line-height: 60px;
    text-decoration: none;
    
}

/* SEARCH */

#search {
    margin-bottom: 2rem;
    padding: 2rem;
}

#search h3 {
    margin-bottom: 1rem;
    font-weight: normal;
}



/* FORM  */

form {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-bottom: 1rem;
    font-weight: bold;
}

form i {
    background-color: var(--gray);
    color: black;
    padding: 1rem;
    border-radius:  0.75rem 0 0 0.75rem;
}


form input[type=search] {
    height: 100%;;
    padding: 1rem;
    border: 1px solid var(--gray);

}

form input[type=submit] {
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 0 0.75rem 0.75rem 0;
    padding: 0 1rem 0 1rem;
}


/* FILTERS */

.filters {
    width:100%;
    display: flex;
    font-weight: bold;
}

.filters h2 {
    font-size: 1rem;
    margin-right: 1rem;
    align-self: center;
    
}

.filters_container {
    display: flex;
    flex-direction: row;
}

.filters_container div {
    margin-right: 1rem;
    padding-right: 1rem;
    border: 1px solid var(--gray);
    border-radius: 2rem;
}



.filters div i {
    background-color: var(--lightblue);
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
}

/* INFO */
#search .info {
    display: flex;
    height: 2rem;
    margin-top: 1rem;
}

#search .info i {
    margin-right: 1rem;
    padding: 0.75rem;
    border: 1px solid var(--gray);
    border-radius: 50%;
    font-size: 0.8rem;
}

#search .info p {
    height: 2rem;
    line-height: 2rem;
}

/* CONTAINER SECTION + ASIDE */

.container {
    display: flex;
    margin-bottom: 2rem;
}

/* SECTION HEBERGEMENTS */

#hébergements {
    width: 110%;
    border-radius: 1rem;
    background-color: var(--gray);
    padding: 2rem;
    margin-right: 2rem;
}

#hébergements h3 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

#hébergements .items_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

/* ITEM */

#hébergements .item {
    display: flex;
    flex-direction: column;
    width: 28%;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    
    box-shadow: 5px 5px 5px rgba(84, 84, 85, 0.1);
}

.items_container .item img{
    width: 100%;
    height: 10rem;
    border-radius: 1rem 1rem 0 0;
    margin-bottom: 1rem;
    object-fit: cover;

}


/* DESCRIPTION */

.description h3 {
    margin-bottom: 0.5rem !important;
}

.description p {
   margin-bottom: 0.5rem;
}

/* LIEN AFFICHER PLUS */

 #hébergements a {
     text-decoration: none;
     color: black;
     font-weight: bold;
     font-size: 1.2rem;
     padding: 1rem;
 }

/* ASIDE POPULAIRES */

#populaires {
    width: 40%;
    border-radius: 1rem;
    background-color: var(--gray);
    padding: 2rem;
    
}

#populaires  h3 {
    font-size: 1.3rem;
    padding-bottom: 2rem;
}

#populaires  .fa-chart-line{
    font-size: 2rem;
    color: black;
}

#populaires .item {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(84, 84, 85, 0.1);
}


#populaires .item img {
    width: 40%;
    height: 10rem;
    margin-right: 1rem;
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
}

#populaires .item .description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}




/* STARS */


i {
    color: var(--blue);
}

.gray {
    color: var(--gray);
}

/* ACTIVITIES */

#activities {
    margin-bottom: 2rem;
}

#activities  h3{
    padding-bottom: 1rem;
}

#activities_container {
    width: 100%;;
    display: flex;
    flex-direction: row;
    padding: 0;

}
.wrapper:last-child > .activity{
    margin-right: 0;
}

.wrapper .activity:first-child {
    margin-bottom: 2rem;
}

.activity {
    margin-right: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(84, 84, 85, 0.1);
}



 .activity img {
     width: 100%;
     height: 90%;
     border-radius: 1rem 1rem 0 0;
     padding-bottom: 1rem;
     object-fit: cover;
}



.wrapper .activity img{
    height: 15rem;
    object-fit: cover;
}

.activity h3 {
    height: 1.2rem;
    padding-left: 1rem;
}

/* FOOTER */

footer {
    background-color: var(--gray);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer ul {
    list-style-type: none;
    width: 30%;
}

footer ul li {
    margin-bottom: 5px;
}

footer ul li:first-child {
    padding: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}